CompileFlags:
  Add: [-std=c++17]
Diagnostics:
  ClangTidy:
    Add:
      [
        bugprone*,
        cppcoreguidelines*,
        misc*,
        modernize*,
        performance*,
        portability*,
        readability*,
      ]
    Remove: 
      [
        bugprone-easily-swappable-parameters,
        cppcoreguidelines-avoid-magic-numbers,
        cppcoreguidelines-avoid-non-const-global-variables,
        modernize-use-trailing-return-type,
        readability-identifier-length,
        readability-magic-numbers,
      ]
    CheckOptions:
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.GlobalConstantCase: UPPER_CASE
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.VariableIgnoredRegexp: "[A-Z]"
