CompileFlags:
  Add: [-std=c++17]
Diagnostics:
  ClangTidy:
    Add:
      [
        bugprone*,
        cppcoreguidelines*,
        misc*,
        modernize*,
        performance*,
        portability*,
        readability*,
      ]
    Remove: 
      [
        modernize-use-trailing-return-type,
        cppcoreguidelines-avoid-non-const-global-variables,
        readability-identifier-length,
        bugprone-easily-swappable-parameters,
        cppcoreguidelines-avoid-magic-numbers,
        readability-magic-numbers,
        # cppcoreguidelines-init-variables,
        # misc-non-private-member-variables-in-classes,
        # modernize-use-nodiscard,
        # readability-braces-around-statements,
        # readability-function-cognitive-complexity
        # readability-identifier-length,
        # readability-isolate-declaration,
      ]
    CheckOptions:
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.GlobalConstantCase: UPPER_CASE
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.VariableIgnoredRegexp: "[A-Z]"
